./.vscode
./venv
/venv
venv/
.env

# Evitar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Evitar archivos de migraciones en Django
migrations/
migrations/__pycache__/
migrations/*.py
!migrations/__init__.py

# Evitar caché en carpetas específicas
**/__pycache__/
admin/__pycache__/
migrations/__pycache__/

# Evitar archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Ignorar migraciones excepto __init__.py
**/migrations/
!**/migrations/__init__.py
node_modules/
package-lock.json       
                                                                                                                                                                                                                                                                                    