<!-- contenedor del formulario -->
<div class="container py-5">
  <h3 class="fs-2 text-center mb-4">Contactate con Nosotros</h3>
  <p class="text-center mb-4">Escribinos y te respoderemos a la brevedad</p>
  <div class="card shadow-lg mx-auto p-4" style="max-width: 600px; border-radius: 15px; background-color: #f8f9fa;">
    
    <form [formGroup]="form" (ngSubmit)="enviarFormulario()" >


      <div class="mb-3">
        <label for="validationName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationNombre" required formControlName="nombre" />
        <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">
          <p *ngIf="form.get('nombre')?.hasError('required')" class="text-danger">El nombre es requerido</p>
          <p *ngIf="form.get('nombre')?.hasError('minlength')" class="text-danger">Debe tener menos de 20 caracteres</p>
        </div>
      </div>

      <div>
        <label for="validationEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="validationEmail" required formControlName="email" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <p *ngIf="form.get('email')?.hasError('required')" class="text-danger">El email es requerido</p>
          <p *ngIf="form.get('email')?.hasError('email')" class="text-danger">Debe ser un email válido</p>
        </div>
      </div>

      <div>
        <label for="validationMessage" class="form-label">Mensaje</label>
        <textarea class="form-control" id="validationMessage" required formControlName="mensaje"></textarea>
        <div *ngIf="form.get('mensaje')?.invalid && form.get('mensaje')?.touched">
          <p *ngIf="form.get('mensaje')?.hasError('required')" class="text-danger">Deje un mensaje</p>
          <p *ngIf="form.get('mensaje')?.hasError('minlength')" class="text-danger">El mensaje debe ser más corto</p>
        </div>
      </div>

      <br />
      <div class="d-grid">
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="form.invalid">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- contenedor de redes sociales -->
<div class="container py-5 text-center">
  <h3 class="fs-2 mb-4">También podes seguinos en nuestras redes</h3>
  <div class="d-flex justify-content-center gap-3">
    <a class="social-btn" href="#!" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="social-btn" href="#!" aria-label="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="social-btn" href="#!" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="social-btn" href="#!" aria-label="LinkedIn">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>


