
  <section class="w-100 vh-auto d-flex align-items-center bg-color">
  <div *ngIf="usuario" class="perfil">
    <h2>Perfil de {{ usuario.first_name }} {{ usuario.last_name }}</h2>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <p><strong>Teléfono:</strong> {{ usuario.num_telefono }}</p>

<div *ngIf="!isAdmin">
    <h2>Vehiculos <i class="bi bi-car-front-fill"></i></h2>
    <div *ngIf="vehiculos.length > 0; else noVehiculos">
    <ul >
    <li *ngFor="let vehiculo of vehiculos">
      <!-- {{ vehiculo.marca }} - {{ vehiculo.modelo }} - {{ vehiculo.patente }} -->
        {{vehiculo.modelo}} - {{vehiculo.tipo}}
        
        <div>
    <!-- Moto -->
    <i *ngIf="vehiculo.categoria == 'Moto'" class="fa-solid fa-motorcycle fa-2x"></i>

    <!-- Auto -->
    <i *ngIf="vehiculo.categoria == 'Auto'" class="fa-solid fa-car-side fa-2x"></i>

    <!-- Camión -->
    <i *ngIf="vehiculo.categoria == 'Camión'" class="fa-solid fa-truck-moving fa-2x"></i>

    <!-- Ómnibus -->
    <i *ngIf="vehiculo.categoria == 'Ómnibus'" class="fa-solid fa-bus fa-2x"></i>

    <!-- Furgón -->
    <i *ngIf="vehiculo.categoria == 'Furgón'" class="fa-solid fa-van-shuttle fa-2x"></i>

    <!-- Otro -->
    <i *ngIf="vehiculo.categoria == 'Otro'" class="fa-solid fa-question fa-2x"></i>
  </div>
  <button [routerLink]="['/vehiculo/editar', vehiculo.id]">
    <i class="bi bi-pencil-fill" id="edit"></i>
  </button>

  <button type="button" class="btn btn-danger" (click)="eliminarVehiculo(vehiculo.id)">
    <i class="fa-solid fa-trash"></i>
  </button>
        
    </li>
    
  </ul>
  <button routerLink="/agregar-vehiculo">Cargar otro vehiculo</button>
</div>
</div>
  <ng-template #noVehiculos>
    <p>No hay vehiculos cargados.</p>
    <button routerLink="/agregar-vehiculo">Cargar vehiculo</button>
</ng-template>
    
<div *ngIf="!isAdmin">
    <h2>
    Carrito <i class="bi bi-cart-fill"></i> 
  </h2>
    <div *ngIf="carrito.length > 0; else noProductos">
        
        <p>Tiene productos en el carrito</p>
        <button routerLink="/carrito">
        <i class="bi bi-bag-check-fill"></i> Continuar comprando
      </button>
        
      </div>
    <ng-template #noProductos>
        <p>No hay productos en el carrito.</p>
    </ng-template>
  </div>

  <div *ngIf="!isAdmin">
    <h2>Mis turnos <i class="bi bi-calendar-event"></i></h2>
    <div *ngIf="reservas.length > 0; else noTurnos">
      <p>Tiene las siguientes reservas</p>
        <li *ngFor="let reserva of reservas">
  <strong>{{ reserva.servicio_info.nombre }}</strong>
  <p>en sucursal</p>
  <strong>{{ reserva.sucursal_info.nombre }}</strong>
  <p>El día: </p>
  <strong>{{ reserva.turno_info.fecha | date:'dd/MM/yyyy' }}</strong>
  <p>a las </p>
  <strong>{{ reserva.turno_info.hora }}</strong>
  
  <!-- Mostrar alerta de turno vencido -->
  <p *ngIf="isTurnoVencido(reserva)" class="text-danger">
    Turno vencido
  </p>
</li>
        <p>Lo esperamos!!</p>
        <!-- <button routerLink="/carrito">Continuar comprando</button> -->
        
      </div>
    <ng-template #noTurnos>
        <p>No hay reservas de servicios.</p>
    </ng-template>
  </div>

  <!-- <div *ngIf="isAdmin">
    <h2>Turnos asignados</h2>
  </div> -->
   
  </div>
</section>