<section>

    <div class="container my-5">
      <div class=" agregar">

        <button class="btn btn-light " routerLink="/agregar-productos" *ngIf="isAdmin">Agregar</button>
        <button class="btn btn-light " routerLink="/lista-productos" *ngIf="isAdmin">Lista</button>
      </div>
      
    <header class="mb-4">
      <h3>Productos <span class="cat-selec">{{catSelec.nombre}}</span></h3>
      <div class="categorias">
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Categorías
          </a>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" (click)="filtrarPorCategoria({id:0, nombre:''})">Todas</button>
            </li>
            <li *ngFor="let cat of categorias">
              <button class="dropdown-item" (click)="filtrarPorCategoria(cat)">{{cat.nombre}}</button>
            </li>
          </ul>
        </div>
      </div>
    </header>
  
      <div class="row">
      <div *ngFor="let prod of productosFiltrados" class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img [src]="prod.imagen" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{prod.nombre}}</h5>
            <p class="card-text">${{prod.precio}}</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <button class="btn btn-primary shadow-0 me-1" [routerLink]="'/articulo/' + prod.id">
                Ver detalle
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> 




  
