
  <main>
  <div class="container my-5">
  <h2 class="text-center mb-4">Nuestras Sucursales</h2>

  <div class="d-flex justify-content-end mb-3" *ngIf="isAdmin">
  <button class="btn btn-success" (click)="abrirModal()">+ Nueva Sucursal</button>
</div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let sucursal of sucursales">
      <div class="card shadow-sm h-100 border-0 rounded-3">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-primary fw-bold">
            {{ sucursal.nombre }}
          </h5>
          <p class="card-text text-muted mb-1">
            📍 {{ sucursal.direccion }}
          </p>
          <p class="card-text text-muted mb-1">
            📞 {{ sucursal.telefono }}
          </p>
          <p *ngIf="sucursal.ciudad" class="card-text text-muted">
            🏙 {{ sucursal.ciudad }}, {{ sucursal.provincia }}
          </p>
          
          <div class="mt-auto d-flex gap-2" *ngIf="isAdmin">
            <button routerLink="/servicios" class="btn btn-primary w-100"  *ngIf="!isAdmin">
              Reservar turno
            </button>
            <button class="btn btn-sm btn-danger  " (click)="eliminarSucursal(sucursal.id)">Eliminar</button>
             <button class="btn btn-sm btn-primary" (click)="abrirModal(sucursal)">Editar</button>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="modalSucursal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ sucursalActual?.id ? 'Editar Sucursal' : 'Nueva Sucursal' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSucursal">
          <div class="mb-3">
            <label>Nombre</label>
            <input formControlName="nombre" class="form-control">
          </div>
          <div class="mb-3">
            <label>Dirección</label>
            <input formControlName="direccion" class="form-control">
          </div>
          <div class="mb-3">
            <label>Teléfono</label>
            <input formControlName="telefono" class="form-control">
          </div>
          <div class="mb-3">
            <label>Ciudad</label>
            <input formControlName="ciudad" class="form-control">
          </div>
          <div class="mb-3">
            <label>Provincia</label>
            <input formControlName="provincia" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarSucursal()">Guardar</button>
      </div>
    </div>
  </div>
</div>

</main>