.container {
    margin-top: 25px;
}

form {
    margin-top: 15px;
    border: 2px solid #F5C057; 
    border-radius: 25px; 
    padding: 20px;
    background-color: #eeeff5; 
}

input.form-control, textarea.form-control {
      
    border: 1px solid #F5C057; 
    border-radius: 30px; 
}

input.form-control:focus, textarea.form-control:focus {
    border-color: #F5C057; 
    outline: none; 
}

.btn {
    margin-top: 15px;
    background-color: #F5C057;
}

.btn:hover {
    color: #060818;
}

.card {
    background-color: #060818;
    color: #FFFFFF;
}

li {
    background-color: #060818;
    color: #FFFFFF;
}
select.form-control {
    border: 1px solid #F5C057; 
    border-radius: 30px;  
    background-color: #ffffff; 
    padding: 8px 12px;
}

/* Para que el borde cambie cuando se hace clic */
select.form-control:focus {
    border-color: #F5C057;
    outline: none;
}
